# used to copy variables to the terraform.tfvars local file
terratowns_endpoint="https://terratowns.cloud/api"
coffee = {
  public_path = "/workspace/terraform-beginner-bootcamp-2023/public/coffee"
  content_version = 1 
}
blues = {
  public_path = "/workspace/terraform-beginner-bootcamp-2023/public/blues"
  content_version = 1 
}